body {
    background-color: #FFFFFF;
}

a {
  color: blue;
  text-decoration: underline;
}

.normal {
  color: initial;
  text-decoration: initial;
}

h1{
    white-space: nowrap;
}

h1, p {
    color: #000000;
}

h2 {
    display: inline;
}

.odd {
  display: inline;
  /*margin-left: 290px;*/
}

#match{
  margin-left: 35%;
  margin-top: 20px;
  font-size: 20px;
}

#manage{
  margin-left: 35%;
  margin-top: 20px;
  font-size: 20px;
}

.result_data{
  text-align: center;
}

.contents_box{
    margin: auto;
    width: 400px;
    height: 150px;
    background-color: aliceblue;
    white-space: nowrap;
    overflow: auto;
}

.contents_box2 {
    width: 400px;
    height: 100px;
    background-color: aliceblue;
    white-space: nowrap;
    overflow: auto;
}

.result_table {
    border-collapse: collapse;
    width: 700px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin: 0 auto;
  }
  .result_table tr {
    background-color: #e6f1f6;
  }
  .result_table tr:nth-child(odd) {
    background-color: #fff;
  }
  .result_table th, .result_table td {
    padding: 1em;
  }
  .result_table caption{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    min-width: 4em;
  }
  .result_table th {
    font-weight: bold;
    text-align: center;
    width: 20%;
    min-width: 4em;
  }

  .operation {
    margin-top: 20px;
    text-align: center;
  }
  
  .search h3{
    margin-left: 35%;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .search input{
    margin-left: 40%;
    margin-top: 20px;
    font-size: 18px;
  }
  
  #setting {
    margin: 0;
  }
  
  #explanation {
    width: 200px;
    height: 70px;
  }
  
  .setting label {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
  }
  
  #match-make, #explanation, #password {
    vertical-align: top;
    margin-top: 20px;
  }
  
  /*#match-make, #explanation, #password {*/
  /*  display: block;*/
  /*}*/
  
  .error {
    margin: 0;
  }
  
  #members_list {
    margin-bottom: 0;
  }
  
  .result {
    text-align:center;
  }
  
  .number_input{
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
  }
  
  .number_input {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .view {
    text-align: center;
    align-content: center;
  }
  
  .content select {
    width: 150px;

  }
  
  .content input {
    width: 150px;
    text-align: center;
  }
  
  .content {
    margin-left: 38%;
  }
  
  #app_header a {
  text-decoration:none;
  }
  
  button {
    border: solid 1px #333;
  }
  
  #save {
    display: block;
    border: solid 1px #333;
    padding: 9px 12px;
    margin-left: 100px;
    margin-top: 10px;
  }
  
  .search button{
    padding: 9px 12px;
  }
  
  .center {
    display: block;
    text-align: center;
    margin-top: 30px;
  }
  
  .level_select {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .const_range {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }