body {
    background-color: #FFFFFF;
}

img {
    width: 1000px;
}

h1{
    white-space: nowrap;
}

.teams a {
    position: absolute;
    white-space: nowrap;
}

#A, #team1 {
    top: 152px;
    left: 90px;
}

#B, #team2 {
    top: 222px;
    left: 90px;
}

#C, #team3 {
    top: 292px;
    left: 90px;
}

#D, #team4 {
    top: 362px;
    left: 90px;
}

#E, #team5 {
    top: 432px;
    left: 90px;
}

#F, #team6 { 
    top: 502px;
    left: 90px;
}

#G, #team7 {
    top: 572px;
    left: 90px;
}

#H, #team8 {
    top: 642px;
    left: 90px;
}

#I, #team9 {
    top: 187px;
    left: 345px;
}

#J, #team10 {
    top: 327px;
    left: 345px;
}

#K, #team11 {
    top: 467px;
    left: 345px;
}

#L, #team12 {
    top: 607px;
    left: 345px;
}

#M, #team13 {
    top: 257px;
    left: 600px;
}

#N, #team14 {
    top: 537px;
    left: 600px;
}

#O, #team15 {
    top: 395px;
    left: 855px;
}

#re {
    top: 700px;
}